<footer class="footer-box">
    <div class="logo logo-box">
        <i class="fas fa-book"></i>
    </div>
    <ol class="guia-compra-box">
        <li>Atencion al cliente</li>
        <li>Promociones</li>
        <li>Promociones bancarias</li>
        <li>Costos de envio</li>
        <li>FAQ</li>
    </ol>
    <ol class="acerca-box">
        <li>Quienes somos</li>
        <li>Como comprar</li>
        <li>Politica de devolucion</li>
    </ol>
    <ol class="readme-box">
        <li>Locales</li>
        <li>Contactos</li>
        <li>Trabaja con nosotros</li>
        <li>Politicas</li>
        <li>Telefono: </li>
    </ol>
</footer>