<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>

    <div class="container">
        <%- include('./partials/menu') %>

        <main class="form-register">

                    <form action="/post" method="" name="forProducts" enctype="multipart/form-data">
                        <h4>FORMULARIO DE PRODUCTOS</h4>
                        <div>
                            <label>NOMBRE:</label>
                            <input type="text" name="NOMBRE DEL LIBRO">
                        </div>
                        <div>
                            <label>AUTOR:</label>
                            <input type="text" name="NOMBRE DEL AUTOR">
                        </div>
                        <div>
                            <label>EDITORIAL:</label>
                            <input type="text" name="EDITORIAL">
                        </div>
                        <div>
                            <label>IDIOMA:</label>
                            <input type="text" name="IDIOMA">
                        </div>
                        <div>
                            <label>GENERO:</label>
                            <input type="text" name="GENERO DEL LIBRO">
                        </div>
                        <div>
                            <label>PRECIO:</label>
                            <input type="number" name="PRECIO">
                        </div>
                        <label>Imagen del Producto</label>
                        <input type="file" name= "ProductIMG" >
                        <button type="submit">Crear Producto</button>
                    </form>
                        

        </main>
    </div>

</body>
</html>