<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/pages/register.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Re@dMe</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/1634170193.ico">
</head>
<body>

    <div class="container">
        <%- include('./partials/menu') %>

        <main class="form-register">

                    <form action="/post" method="" name="forProducts" enctype="multipart/form-data">
                        <h4>FORMULARIO DE PRODUCTOS</h4>
                        <div>
                            <label>NOMBRE:</label>
                            <input type="text" name="NOMBRE DEL LIBRO">
                        </div>
                        <div>
                            <label>AUTOR:</label>
                            <input type="text" name="NOMBRE DEL AUTOR">
                        </div>
                        <div>
                            <label>EDITORIAL:</label>
                            <input type="text" name="EDITORIAL">
                        </div>
                        <div>
                            <label>IDIOMA:</label>
                            <input type="text" name="IDIOMA">
                        </div>
                        <div>
                            <label>GENERO:</label>
                            <input type="text" name="GENERO DEL LIBRO">
                        </div>
                        <div>
                            <label>PRECIO:</label>
                            <input type="number" name="PRECIO">
                        </div>
                        <label>Imagen del Producto</label>
                        <input type="file" name= "ProductIMG" >
                        <button type="submit">Crear Producto</button>
                    </form>
                        

        </main>
    </div>

</body>
</html>