<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/pages/productCreate.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Re@dMe</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/1634170193.ico">
</head>
<body>
    <div class="container">
        <%- include('./partials/menu') %>
        <div class="card-list _w100 _flex">
            <div class="form__title">
                <h1>PRODUCTO A EDITAR</h1>
            </div>
            <form action="/product/" method="POST" enctype="multipart/form-data">
                <br><br>
                <label for="name">Book name:</label>
                <input type="text" id="name" name="name" value=""><br><br>
                <label for="author">Author:</label>
                <input type="text" id="author" name="author" value=""><br><br>
                <label for="description">Description:</label>
                <textarea id="description" name="description"></textarea><br><br>
                <label for="literatureCategory">Literature Category:</label>
                <input type="text" id="literatureCategory" name="literatureCategory" value=""><br><br>
                <label for="ecomerceCategory">Ecomerce Category:</label>
                <input type="text" id="ecomerceCategory" name="ecomerceCategory" value=""><br><br>
                <input type="file" name="image" id="file"/><br><br>
                <input type="submit" value="Submit">
            </form>

        </div>


        <%- include('./partials/footer') %>

    </div>

</body>
</html>