<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <%- include('./partials/head') %>
    <script src="/public/js/productValidator.js"></script>
<body>
    <div class="container">
        <%- include('./partials/menu') %>
        <div class="card-list _w100 _flex">
            <div class="form__title">
                <h1>NUEVO PRODUCTO</h1>
            </div>
            <form action="/product/createProduct" method="POST" enctype="multipart/form-data">
                <br><br>
                <label for="name">Book name:</label>
                <input type="text" id="name" name="name" value=""><br><br>
                <label for="author">Author:</label>
                <input type="text" id="author" name="author" value=""><br><br>
                <label for="description">Description:</label>
                <textarea id="description" name="description"></textarea><br><br>
                <label for="literatureCategory">Literature Category:</label>

                <select id="literatureCategory" name="literatureCategory">
                    <option value="">N/A</option>
                    <option value="terror">terror</option>
                    <option value="suspenso">suspenso</option>
                    <option value="biografia">biografia</option>
                    <option value="novela">novela</option>
                    <option value="policial">policial</option>
                    <option value="ciencia">ciencia</option>
                    <option value="religion">religion</option>
                    <option value="cuentos infantiles">cuentos infantiles</option>
                    <option value="programacion">programacion</option>
                    <option value="salud">salud</option>
                </select><br><br>

                <label for="ecomerceCategory">Ecomerce Category:</label>

                <select id="ecomerceCategory" name="ecomerceCategory">
                    <option value="">N/A</option>
                    <option value="promotion">promotion</option>
                    <option value="bestSeller">bestSeller</option>
                </select><br><br>

                <input type="file" name="image" id="file"/><br><br>
                <input type="submit" value="Submit"><br><br>
            </form>
            <br><br><br><br>

        </div>


        <%- include('./partials/footer') %>

    </div>

</body>
</html>