:root {
    /*Top Menu Colors*/
    --first-color: #eb3349;
    --last-color: #f45c43;
    --background-menu: linear-gradient(to bottom, var(--first-color), var(--last-color));
    --background-menu-mobile: radial-gradient(circle, #243b55, #141e30);
    --fontFamDefault:'Ubuntu', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontFamDefault);
}

._flex {
    display: flex;
}
._wrap{
    flex-wrap: wrap;
}

._w100{
    width: 100%;
}

.container{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;

}

body {
    background: #ebebeb;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    min-height: 100vh;
    font-family: var(--fontFamDefault);
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 15px;
    border: 2px solid var(--scrollbarBG);
}
html {
    --scrollbarBG: #a19e9f;
    --thumbBG: #745b3f;
}

#style-2::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
    width: 12px;
    background-color: var(--scrollbarBG);
}

#style-2::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: var(--thumbBG);
}