<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head',{cssStyle:'/css/pages/login.css'}) %>
 
    <body>
      
        <div class="container">
            <%- include('../partials/menu') %>

            <main class="form-in">
                <form action="/user/loginUser" target="" method="POST">

                      <h4>Ingresar</h4>

                    <input class="datos _w100" type="text" id="username" name="userName" placeholder="Ingrese su usuario">

                      <input class="datos _w100" type="password" id="password" name="password" placeholder="ingrese contraseña">
                        <p><a href="#">¿Olvidaste tu contraseña?</a></p>
                    <br><br>
                        <% if(locals.errors && errors.email) {%>
                            <div class="text-danger"><%= errors.email.msg %>!</div>
                        <% } %>
                      <input class="_w100" type="submit" id="enviar">
                </form>
            </br>
                <div id="error"></div>
            </main>
       </div>
       
           </body>
           <script src="/js/loginValidator.js"></script>
</html>