@import "/resetStyle.css"; /* Resetea algunos valores de css comumente seteados de este modo */
@import "/css/layout/homeMenu.css";
@import "/rootStyles.css";
@import "/css/layout/footer.css";

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.detail.detail-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 25px 25px;
}

.img-box {
    height: 287px;
    display: flex;
}

.title-box {
    width: 100%;
    font-size: 36px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.article-show-box {
    display: flex;
}

.article-show-box {
    width: 80%;
    margin: 25px auto;
}

.article-show-box article {
    width: 30%;
    display: flex;
    gap: 20px;
}

.prices-box {
    display: flex;
    width: 70%;
    font-family: 'Ubuntu';
}

.prices-box ~ p {
    width: 100%;
}

.prices-box p {
    width: 100%;
    font-weight: 700;
}

ol.details-stock {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.column-fl {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 43px;
    text-align: center;
}
button {
    align-self: flex-end;
    height: 40px;
    width: 102px;
    background: red;
    border: 2px solid rgb(245 54 54);
    border-radius: 8px;
    box-shadow: 1px 1px 3px red;

}

.envio-premium {
    color: red;
    font-size: 18px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

.details-stock h2 {
    font-size: 22px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.details-stock p {
    font-size: 15px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

.details-stock h3 {
    font-size: 15px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: green;
}