@import "/css/resetStyle.css"; /* Resetea algunos valores de css comumente seteados de este modo */
@import "/css/rootStyles.css";
@import "/css/layout/homeMenu.css";

main.profile {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text-danger {
    color: red;
    background: #760000;
    border-radius: 3px;
    padding: 5px;
    font-style: italic;
}

.profile img {
    height: 300px;
}

.profile__title{
    font-size: 26px;
    margin-top: 15px;
}

p.profile__label {
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
}

p.profile__value {
    font-size: 20px;
    margin: 10px;
}

img.profile__img {
    border-radius: 158px;
    box-shadow: 0 0 6px black;
    margin: 20px;
}

@media (max-width: 2600px) and (orientation: landscape) {


input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#000;
	background-color:#eb3349;;
	box-shadow: 7px 13px 37px #000;
	font-weight: 700;
}

input[type="submit"]:hover{
	cursor:pointer;
}

.form-in {
	width: 400px;
    background: linear-gradient(to bottom, var(--first-color), var(--last-color));
	padding: 30px;
	margin: auto;
	margin-top: 100px;
	border-radius: 5px;
	text-align: justify;
	box-shadow: 7px 13px 37px #000;

}
.form-in h4{
	font-size: 30px;
	text-align: center;
	font-weight: 600;
	margin-bottom: 10px;
}

.datos{
	padding: 10px;
	border-radius: 5px;
	font-size: 12px;
	margin-bottom: 10px;

}
a:link {
    text-decoration: none;
    color: white;
  }

  a:visited {
    text-decoration: none;
    color: white;
  }
}
a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}