@import "/css/resetStyle.css"; /* Resetea algunos valores de css comumente seteados de este modo */
@import "/css/layout/homeMenu.css";
@import "/css/rootStyles.css";


input[type="submit"]{
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#000;
	background-color:#eb3349;
	box-shadow: 3px 1px 7px #ff2525;
	font-weight: 700;
	border: 1px solid #fb5454;
	color: #ffc5c5;
}

input[type="submit"]:hover{
	cursor:pointer;
}

.form-register {
	width: 400px;
	background: linear-gradient(to bottom, var(--first-color), var(--last-color));
	padding: 30px;
	margin: auto;
	margin-top: 100px;
	border-radius: 5px;
	text-align: justify;
	box-shadow: 0px 0px 6px #eb0d0d;
}
.form-register h4{
	font-size: 30px;
	text-align: center;
	font-weight: 600;
	margin-bottom: 10px;
	color: white;
}

.datos{
	padding: 10px;
	border-radius: 5px;
	font-size: 12px;
	margin-bottom: 10px;
	border: 1px solid #d3a4a4;
}

a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}