@import "/resetStyle.css"; /* Resetea algunos valores de css comumente seteados de este modo */
@import "homeMenu.css";
@import "rootStyles.css";

* { margin: 0;
	padding: 0;
	box-sizing:border-box;
}


input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#000;
	background-color:#eb3349;;
	box-shadow: 7px 13px 37px #000;
	font-weight: 700;
} 

input[type="submit"]:hover{
	cursor:pointer;
}

.form-register {
	width: 400px;
	--first-color: #eb3349;
    --last-color: #f45c43;
    background: linear-gradient(to bottom, var(--first-color), var(--last-color));
	padding: 30px;
	margin: auto;
	margin-top: 100px;
	border-radius: 5px;
	text-align: justify;
	box-shadow: 7px 13px 37px #000;
		
}
.form-register h4{
	font-size: 30px;
	text-align: center;
	font-weight: 600;
	margin-bottom: 10px;
}

.datos{
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 12px;
	margin-bottom: 10px;
	
}

a:link {
    text-decoration: none;
    color: white;
  }
  
  a:visited {
    text-decoration: none;
    color: white;
  }