<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head',{cssStyle:'/css/pages/productCart.css'}) %>
<body>
    <div class="container">
        <%- include('../partials/menu') %>
        <div class="detail detail-box _flex _wrap _w100">
            <div class="title-box _w100">
                <p>Tus Productos</p>git
            </div>
            <div class="article-show-box">
                <article>
                        <div class="img-box _flex">
                            <!-- TODO change src => to show real Img of Products Obj -->
                            <img src="/img/bkImagenes/example1.jpg" alt="libro">
                        </div>

                    
                    <ol class="details-stock _flex">
                        <li><h2>AWAKE, ARISE, or be forever fallen!</h2></li>
                        <li>Origen: <p>Argentina</p></li>
                        <li class="envio-premium">Envio 1 dia habil</li>
                        <li>Stock: <h3>Disponible</h3></li>
                        <li>Estado: <p>Nuevo</p></li>
                    </ol>
                </article>
                <div class="prices-box">
                    <div class="column-fl _flex">
                        <p>PRECIO</p>
                        <p>1439</p>
                    </div>
                    <div class="column-fl _flex">
                        <p>CANTIDAD</p>
                        <select name="select">
                            <option value="value1" selected> 1</option>
                            <option value="value2"> 2</option>
                            <option value="value3"> 3</option>
                        </select>
                    </div>
                    <div class="column-fl _flex">
                        <p>SUBTOTAL</p>
                        <p>1439<i style="margin-left: 10px; color:red; cursor: pointer" class="far fa-times-circle"></i></p>
                    </div>
                    
                </div>
                <div class="btn_box">
                    <button type="submit">Comprar</button>
                </div>
            </div>

            
        </div>
    </div>
        <%- include('../partials/footer') %>
</body>
</html>