.menu{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}
.menu__avatar-txt-color{
    color: white;
}
.menu nav {
    display: flex;
    width: 100%;
    background: var(--background-menu);
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 15px;
    font-family: 'Ubuntu', sans-serif;
}
.menu nav .menu__icon{
    font-size: 35px;
    font-weight: 800;
    color: white;
    cursor: pointer;
}
.menu nav ol {
    display: flex;
    list-style: none;
    margin: auto 0;
}
.menu nav ol li {
    margin: 0 2px;
}
.menu nav ol li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
}
.menu nav ol li:hover a{
    background: white;
    color: lightsalmon;
}
.menu nav .menu__search_box{
    display: flex;
    margin: auto 0;
    height: 35px;
    align-items: center;
    margin-left: 10px;
}

.menu nav .menu__search_box input {
    border: none;
    outline: none;
    background: white;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 350px;
}
.menu nav .menu__search_box span {
    color: darkgrey;
    font-size: 20px;
    background: white;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}
.menu nav .menu__search_box span::after{
    height: 100%;
    width: 0%;
    content: '';
    background: darkcyan;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: 0.3s;
}
.menu nav .menu__search_box span:hover::after{
    width: 100%;
    color: white;
}

.menu nav .menu__avatar{
    font-size: 34px;
    color: white;
    padding: 11px;
    display: flex;
    align-items: center;
    margin-left: 15px;
    height: 57px;
    border-radius: 100px;
    width: 57px;
    object-fit: fill;
}
.menu nav .menu__avatar p{
    font-size: 9px;
    padding: 8px;

}

.logout{
    font-style: italic;
    font-weight: bold;
}

.menu nav .menu__bar{
    position: relative;
    margin: auto;
    display: none;

}

.menu nav .menu__bar span{
    position: absolute;
    color: white;
    font-size: 35px;
}
.menu input[type="checkbox"]{
    -webkit-appearance: none;
    display: none;
}

@media screen and (max-width: 1250px) {
    .menu nav {
        display: block;
        padding: 0;
    }
    .menu__icon{
        display: inline-block;
        padding: 15px 30px;
    }
    .menu nav .menu__search_box{
        width: 90%;
        display: inline-flex;
        justify-content: center;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .menu nav .menu__search_box input{
        width: 90%;
    }
    .menu nav .menu__avatar{
        margin-left:0px;
    }
    .menu nav ol {
        display: flex;
        flex-direction: column;
        background: var(--background-menu-mobile);
        height: 0;
        visibility: hidden;
        transition: 0.3s;
    }
    .menu nav ol li{
        text-align: center;
        transition: 0.3s;
    }
    .menu nav ol li a{
        color: white;
        font-size: 28px;
        padding: 25px;
        display: block;
    }
    /*SE PUEDE OBVIA*/

    .menu nav ol li:nth-child(1){transform: translateX(-600px);}
    .menu nav ol li:nth-child(2){transform: translateX(-610px);}
    .menu nav ol li:nth-child(3){transform: translateX(-620px);}
    .menu nav ol li:nth-child(4){transform: translateX(-630px);}
    .menu nav ol li:nth-child(5){transform: translateX(-640px);}
    /*SE PUEDE OBVIA ---------*/
    .menu nav .menu__bar {
        display: block;
        position: absolute;
        top: 12px;
        right: 57px;
        cursor: pointer;
    }
    .menu nav .menu__bar #menu__times{
        display: none;
    }
    #check:checked ~ nav .menu__bar #menu__times{
        display: block;
    }
    #check:checked ~ nav .menu__bar #menu__bars{
        display: none;
    }
    #check:checked ~ nav ol{
        visibility: visible;
        height: 465px;
    }
    #check:checked ~ nav ol li:nth-child(1),
    #check:checked ~ nav ol li:nth-child(2),
    #check:checked ~ nav ol li:nth-child(3),
    #check:checked ~ nav ol li:nth-child(4),
    #check:checked ~ nav ol li:nth-child(5){transform: translateX(0); opacity: 1}
}