<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/pages/login.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Re@dMe</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/1634170193.ico">
</head>
<body>
<div class="container">
        <div class="menu">
        <input type="checkbox" id="check">
        <nav>
            <div class="menu__icon"><a href="/">Re@dme</a></div>

            
           
        </nav>
    </div>
</div>

        
<main class="form-in">
    <form action="#" target="" method="get" name="formDatosPersonales"></form>
                          <h4>Ingresar</h4>                 
                  
                        <input class="datos" type="text" id="usuario" name="usuario" placeholder="Ingrese su usuario">
                    
                        <input class="datos" type="password" id="name" name="nombre" placeholder="ingrese contraseña">
                    
                    <p><a href="#">¿Olvidaste tu contraseña?</a></p>
                        <input type="submit" id="enviar" name="enviar"
                        value="enviar datos">
                        

                    </main>
   
</body>
</html>