<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/pages/productCart.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Re@dMe</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/1634170193.ico">
</head>
<body>
    <div class="container">
        <div class="menu">
            <input type="checkbox" id="check">
            <nav>
                <div class="menu__icon"><a href="/">Re@dme</a></div>
                
                <ol>
                    <li><a href="/">Home</a></li>
                    <li><a href="/productDetail">Mis Compras</a></li>
                    <li><a href="/productCart">Productos</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                </ol>
                <div class="search menu__search_box">
                    <input type="search" placeholder="Search here">
                    <span class="fa fa-search"></span>
                    <a href="/login"><i class="fas fa-user-circle menu__avatar"></i></a>
                        <p><a href="/login">Usuario</a></p>
                    </i>
                </div>
                <label for="check" class="menu__bar">
                    <span class="fa fa-bars" id="menu__bars"></span>
                    <span class="fa fa-times" id="menu__times"></span>
                </label>
            </nav>
        </div>
        <div class="detail detail-box _flex _wrap _w100">
            <div class="title-box _w100">
                <p>Tus Productos</p>
            </div>
            <div class="article-show-box">
                <article>
                        <div class="img-box _flex">
                            <img src="/img/example1.jpg" alt="libro">
                        </div>

                    
                    <ol class="details-stock _flex">
                        <li><h2>AWAKE, ARISE, or be forever fallen!</h2></li>
                        <li>Origen: <p>Argentina</p></li>
                        <li class="envio-premium">Envia 1 dia habil</li>
                        <li>Stock: <h3>Disponible</h3></li>
                        <li>Estado: <p>Nuevo</p></li>
                    </ol>
                </article>
                <div class="prices-box">
                    <div class="column-fl _flex">
                        <p>PRECIO</p>
                        <p>1439</p>
                    </div>
                    <div class="column-fl">
                        <p>CANTIDAD</p>
                        <p>1</p>
                    </div>
                    <div class="column-fl">
                        <p>SUBTOTAL</p>
                        <p>1439<i style="margin-left: 10px; color:red" class="far fa-times-circle"></i></p>
                    </div>
                    
                    <button type="submit">Comprar</button>
                </div>
            </div>

            
        </div>

    </div>
    <footer class="footer-box">
        <div class="logo logo-box">
            <i class="fas fa-book"></i>
        </div>
        <ol class="guia-compra-box">
            <li>Atencion al cliente</li>
            <li>Promociones</li>
            <li>Promociones bancarias</li>
            <li>Costos de envio</li>
            <li>FAQ</li>
        </ol>
        <ol class="acerca-box">
            <li>Quienes somos</li>
            <li>Como comprar</li>
            <li>Politica de devolucion</li>
        </ol>
        <ol class="readme-box">
            <li>Locales</li>
            <li>Contactos</li>
            <li>Trabaja con nosotros</li>
            <li>Politicas</li>
            <li>Telefono: </li>
        </ol>
    </footer>
</body>
</html>