<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/register.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
</head>
<body>

    <div class="container">
        <div class="container">
            <div class="menu">
            <input type="checkbox" id="check">
            <nav>
                <div class="menu__icon"><a href="/">Re@dme</a></div>
                 </div>
                <label for="check" class="menu__bar">
                    
                    <main>

                    <form action="#" target="" method="get" name="formDatosPersonales"></form>

                    </br>
                    </br>
                        <label>Nombre y Apellido</label>
                        <input type="text" id="name" name="nombre">
                    </br>
                    </br>
                        <label>Nombre de Usuario</label>
                        <input type="text" id="usuario" name="usuario">
                    </br>
                    </br>
                        <label>Correo electronico</label>
                        <input type="email" id="mail" name="mail">
                    </br>
                    </br>
                        <label>Fecha de Nacimiento</label>
                        <input type="date" id="birth" name="birth">
                    </br>
                    </br>
                        <label>Direccion</label>
                        <input type="text" id="address" name="address">
                    </br>
                    </br>
                        <label>Contraseña</label>
                        <input type="text" id="address" name="address">
                    </br>
                    </br>
                        <label>confirmar contraseña</label>
                        <input type="text" id="address" name="address">

                    </br>
                    </br>
                        <input type="submit" id="enviar" name="enviar"
                        value="enviar datos">
                        

                    </main>
            </nav>
        </div>
    
    
    </div>

</body>
</html>