<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/pages/register.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
</head>
<body>

    <div class="container">
        <div class="container">
            <div class="menu">
            <input type="checkbox" id="check">
                <nav>
                    <div class="menu__icon"><a href="/">Re@dme</a></div>
                     </div>
                    <label for="check" class="menu__bar">
                </nav>
            </div>
        
        
        </div>
                    
                    <main class="form-register">

                    <form action="#" target="" method="get" name="formDatosPersonales"></form>
                        <h4>Registro de Usuario</h4>
                  
                        <input class="datos _w100" type="text" id="name" name="nombre" placeholder="Ingrese su Nombre y Apellido">
                    
                        <input class="datos _w100" type="text" id="usuario" name="usuario" placeholder="Ingrese su nombre de usuario">
                    
                        <input class="datos _w100" type="email" id="mail" name="mail"
                        placeholder="Ingrese su correo electronico">
                   
                        <input  class="datos _w100" type="date" id="birth" name="birth">
                   
                        <input  class="datos _w100" type="text" id="address" name="address" placeholder="ingrese su direccion">
                   
                        <input class="datos _w100" type="password" id="address" name="address" placeholder="ingrese contraseña">
                    
                        <input class="datos _w100" type="password" id="address" name="address" placeholder="confirme su contraseña">

                    <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
                        <input class="_w100" type="submit" id="enviar" name="enviar"
                        value="enviar datos">
                        

                    </main>
         

</body>
</html>